.project
.settings
.classpath
target
build.xml
/.apt_generated/
/.apt_generated_tests/
agent.config
hdivAgentLog.hlg
semgrep-results.json
dependency-check-8.3.1-release.zip
dependency-check/
insecure-bank/
